{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">


<div id="drop-area">
    <form class="my-form">
        {% csrf_token %}
      <p>Made with ❤️ by students of Group A2</p>
      <input type="file" id="fileElem" multiple accept="image/*" onchange="uploadFile(this.files[0])">
      <label class="button" for="fileElem">Select some files</label>
    </form>
</div>


<script src="{% static 'js/home.js' %}"></script>
{% endblock content %}