{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/proceed.css' %}">


<div class="main-container">
    <div class="main-div">
        <h4 class=" input-text">We received this image from you &mdash;</h4>
        <img src="{{ image.image.url }}" alt="" srcset="">
    </div>
    <div class="bottom-div">
        <a href="{% url 'home' %}"><button class="file-button no-color-btn">Go Back</button></a>
        <button class="file-button">Click to Proceed</button>
    </div>
</div>

{% endblock content %}